@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Indie Flower', cursive;
  background-color: #538083;
  color:#453823;
}
h1, h2{
  color:#453823;
  font-family: 'Shadows Into Light', cursive;;
  background-color:#F8F4E3;
  border-radius: 20px;
  border-style:groove;
  margin-top: 20px;
  padding: 20px;
}
.opening
{
  color:#453823;
  background-color:#538083;
  background-color:#F8F4E3;
}
h3{
  color:#453823;
  background-color:#538083; 
  background-color:#F8F4E3;
  border-radius: 20px;
  border-style:groove;
  font-family: 'Shadows Into Light', cursive;;
  padding: 10px;
}
p{
  shape-outside: circle(50%);
  background-color:#F8F4E3;
  border-radius: 10px;
}
ul{
  background-color: #F8F4E3;
  border-radius: 20px;
}
ol{
  background-color: #F8F4E3;
  border-radius: 20px;
}
div{
  text-align: center;
}
.index2{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
}



